[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
streamlit = "*"
tensorflow = "*"
tensorflow-addons = "*"
pillow = "*"
javalang = "*"
graphviz = "*"
imgkit = "*"

[dev-packages]

[requires]
python_version = "3.9"
